<div class="row">
  <div class="col-md-12">
    <form method="post">
      <div>
        <label>Film Name</label>
        <input type="text" name="filmname" placeholder="Enter a Name" value="<%= @film.filmname %>">
      </div>
      <div>
        <label>Director</label>
        <input type="text" name="director" placeholder="Enter a Name" value="<%= @film.director %>">
      </div>
      <div>
        <label>Genre ID</label>
        <select name="genreid">
          <option value="<%= @film.genreid = 1 %>">Horror</option>
          <option value="<%= @film.genreid = 2 %>">Action</option>
          <option value="<%= @film.genreid = 3%>">Sci-Fi</option>
          <option value="<%= @film.genreid = 4%>">Thriller</option>
        </select>
      </div>
      <div>
        <input class="btn-primary" type="submit" value="Add Film">
      </div>
      <% if(!@film.filmid) %>
        <input type="hidden" name="_method" value="put">
      <% end %>
    </form>
</div>
</div>
