<div class="row">
  <div class="col-md-12">
    <h1>Top Films</h1>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img class="bg-overlay film-cover-top gradient img-responsive" src="images/<%=@film = Films.find(1)
    @film.filmid%>.jpeg" >
    <!-- <div class="now-playing-movie-date hidden-xs">Now Playing</div> -->
    <div class="now-playing-movie-title hidden-xs"><%= @film.filmname %></div>
    <button type="button" class="now-playing-movie-btn btn btn-primary">VIEW</button>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img class="bg-overlay film-cover-top img-responsive" src="images/<%=@film = Films.find(1)
    @film.filmid%>.jpeg">
    <!-- <div class="now-playing-movie-date hidden-xs">Now Playing</div> -->
    <div class="now-playing-movie-title hidden-xs"><%= @film.filmname %></div>
    <button type="button" class="now-playing-movie-btn btn btn-primary">VIEW</button>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img class="bg-overlay film-cover-top gradient img-responsive" src="images/<%=@film = Films.find(1)
    @film.filmid%>.jpeg" >
    <!-- <div class="now-playing-movie-date hidden-xs ">Summer 2019</div> -->
    <div class="now-playing-movie-title hidden-xs"><%= @film.filmname %></div>
    <button type="button" class="now-playing-movie-btn btn btn-primary">VIEW</button>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img class="bg-overlay film-cover-top gradient img-responsive" src="images/<%=@film = Films.find(1)
    @film.filmid%>.jpeg" >
    <!-- <div class="now-playing-movie-date hidden-xs">Summer 2019</div> -->
    <div class="now-playing-movie-title hidden-xs"><%= @film.filmname %></div>
    <button type="button" class="now-playing-movie-btn btn btn-primary">VIEW</button>
  </div>
  </div>

<!-- Featured  -->
  <div class="row">
    <div class="col-md-12 img-container img-container-img hidden-xs hidden-sm">
    <h1 class="featured-films-title"><%=API%></h1>
  </div>

  <div class="row whats-on">
    <div class="col-md-12">
      <h1>Top Books</h1>
    </div>
  <div class="col-md-2 col-md-offset-2 col-sm-4 col-xs-6">
    <img class="film-cover" src="images/<%= @book = Books.find(2)
    @book.bookid %>.jpg">
    <p class="on-now-film-title"><%= @book.bookname %></p>
    <button type="button " class="btn btn-primary">VIEW</button>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="film-cover" src="images/<%= @book.bookid %>.jpg">
    <p class="on-now-film-title"><%= @book.bookname %></p>
    <button type="button" class="btn btn-primary">VIEW</button>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="film-cover" src="images/<%= @book.bookid %>.jpg">
    <p class="on-now-film-title"><%= @book.bookname %></p>
    <button type="button" class="btn btn-primary">VIEW</button>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="film-cover" src="images/<%= @book.bookid %>.jpg">
    <p class="on-now-film-title"><%= @book.bookname %></p>
    <button type="button" class="btn btn-primary">VIEW</button>
  </div>
</div>
