<h1><%= @films.filmname %></h1>
<p>Director: <%= @films.director %></p>
<p>Genre: <%= @films.genreid %></p>
<a href="<%= @films.filmid %>/edit">Edit</a>
<form action="<%= @films.filmid %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
